<?xml version="1.0" encoding="UTF-8"?>

<!-- A FILE phpmd.xml CAN BE CREATED TO OVERRIDE THIS FILE -->

<ruleset name="md">
    <description>PHP Mess Detector</description>

    <rule ref="rulesets/cleancode.xml">
        <exclude name="BooleanArgumentFlag" />
        <exclude name="StaticAccess" />
    </rule>

    <rule ref="rulesets/codesize.xml/TooManyPublicMethods">
        <properties>
            <property name="ignorepattern">
                <value>(^(set|get|add|remove|test).+)i</value>
            </property>
        </properties>
    </rule>

    <rule ref="rulesets/controversial.xml"/>
    <rule ref="rulesets/design.xml"/>

    <rule ref="rulesets/unusedcode.xml"/>

    <rule ref="rulesets/naming.xml">
        <exclude name="ShortVariable" />
        <exclude name="LongVariable" />
    </rule>
    <rule ref="rulesets/naming.xml/ShortVariable">
        <properties>
            <property name="exceptions" value="id,io,em,to"/>
        </properties>
    </rule>
    <rule ref="rulesets/naming.xml/LongVariable">
        <properties>
            <property name="maximum" value="30"/>
        </properties>
    </rule>

</ruleset>
